table {
  width: 100%;
}

.mat-header-cell {
  padding-left: 16px;
  font-size: 15px;
  text-align: center;
}

.mat-cell {
  background-color: gray;
  font-size: 12px;
}
table {
  border-color: white !important;
}
