table {
  width: 100%;
}

.mat-header-cell {
  background-color: #646566;
  padding-left: 16px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.mat-cell {
  background-color: #a6acaf;
  color: black;
}

table {
  border-color: rgb(14, 13, 13) !important;
}
