.wrapper {
  background-color: #646566;
  margin-bottom: 1px;
}
.mat-form-field {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 60px;
  font-size: 18px;
}
.mat-button-toggle {
  font-size: 15px;
  margin-right: 20px;
}
.toggle {
  position: absolute;
  padding-top: 20px;
  padding-left: 30px;
}

.mat-input-element
{
  color: rgb(243, 243, 243) !important;
}

