.wrapper {
  background-color: #646566;
  margin-bottom: .5px;
}
.mat-form-field {
  margin: 10px;

  font-size: 15px;
}
.mat-button-toggle {
  font-size: 15px;
}
.toggle {
  position: absolute;
  padding: 20px;
  right: 10px;
}

.mat-select-value {
  color: black;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
  color: black;
}
