<div class="wrapper">
  <br>
  <br>
  <form>
    <mat-form-field>
      <span matPrefix> </span>
      <input type="text" matInput placeholder="Search" name="search">
      <button matSuffix mat-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose from date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose to date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose Type</mat-label>
      <mat-select>
        <mat-option *ngFor="let types of coursesTypes" [value]="types.value">
          {{types.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose Status</mat-label>
      <mat-select>
        <mat-option *ngFor="let status of coursesStatus" [value]="status.value">
          {{status.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="toggle">
      <mat-button-toggle value="bold">Show code</mat-button-toggle>
    </span>
  </form>
</div>
