.wrapper {
  background-color: gray;
  margin-bottom: 2px;
}
.mat-form-field{
  margin: 10px;
  padding: 0;
  font-size: 15px;
}
.mat-button-toggle{
  font-size: 15px;
}

.toggle{
  position: absolute ;
  padding: 20px;
  right: 10px ;
}
